body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.first{
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}
.img{
  position: absolute;
  left: 350px;
  top: 300px;
}
h1{
  font-family: sacramento;
  font-size: 5.62rem;
  margin: 50px auto 0 auto;
  padding-top: 20px;
  color: #66BFBF;
}
h2{
  text-align: center;
  font-family: Montserrat;
  font-size: 1.87rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  color: #11999E;
}
a{
  color: #11999E;
}

.compu{
  width: 25%;
  height: 90px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.skill{
  width: 50%;
  margin: auto;
  text-align: left;
}

.cric{
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr{
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 8px;
  color: grey;
}

.bottom-container{
  background: #66BFBF;
  padding-top: 50px;
  padding-bottom: 5px;
}

.footer-link{
  padding: 10px;
}

.button{
  border: none;
  background-color: #66BFBF;
  color: white;
  padding: 15px 30px;
  margin-bottom: 20px;
  font-size: 18px;
}
